# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Logs
logs/
*.log

# Environment
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Python cache
.pytest_cache/

# Frontend
frontend/node_modules/
frontend/dist/

# Coverage
.coverage
htmlcov/

# IDE
.idea/

# Misc
*.sqlite3